.container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 20px;
}


.left-section {
    flex: 1;
    background-color: #f9f9f9;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}


.right-section {
    position: fixed; 
    right: 350px; 
    top: 250px; 
    width: 700px; 
    background-color: #f9f9f9;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}